button-background = #0274b3
primary = #0084bf
background = #f3f6f8

body
    font-family sans-serif
    margin 0
    padding 0
    background-color background
main > header
    background-color primary
    overflow hidden
    height 52px
    text-align center
    h1
        display inline-block
        background-repeat no-repeat
        background-image url('https://static.licdn.com/sc/h/1y79tjb5z393y82lxjvqypfeu')
        background-size 84px 20px
        width 84px
        height 20px
        padding 0
        margin 0
        margin-top 16px
        color transparent
.login
    text-align center
    padding-top 32px
    > button
        height 48px
        background-color button-background
        color white
        overflow hidden
        border none
        outline none
        border-radius 3px
        img
            height 100%
            float left
        > span
            float right
            display block
            line-height 1
            font-size 24px
            height 48px
            box-sizing border-box
            padding-top 12px
            padding-right 6px
            padding-left 24px
            vertical-align middle
.bump
    h2
        text-align center
        padding-top 32px
        font-weight 400
h1.bumped
    font-weight 400
    font-size 40px
    text-align center
    border-bottom 1px solid mix(gray, background, 50%)
    margin 20px
    color button-background
.user
    text-align center
    padding-top 32px
    .photo
        display inline-block
        width 80px
        height 80px
        border-radius 50%
        background-size cover
        background-color #999
    .name
        font-size 32px
    .headline
        font-size 20px
    .connect
    .cancel
        display inline-block
        margin-top 24px
        font-size 24px
        border-radius 3px
        padding 8px
        background none
        border none
        color #fff
        text-decoration none
    .connect
        background-color button-background
    .cancel
        background-color #ccc

@keyframes loader-rotation
	0%
		transform rotate(0deg)
	100%
		transform rotate(360deg)

.loader
    margin 24px auto
    margin-top 48px
    font-size 8px
    position relative
    border-width 1.5em
    border-style solid
    transform translateZ(0)
    animation loader-rotation 1.1s infinite cubic-bezier(.18,.42,.82,.58)
    border-radius 50%
    width 80px
    height 80px
    border-color rgba(primary, 0.5)
    border-left-color primary

@keyframes phone-shake
    0%
        transform rotate(0deg)
    5%
        transform rotate(-10deg)
    20%
        transform rotate(0deg)

@keyframes shake-line
    0%
        opacity 0
    3%
        opacity 0
    5%
        opacity 1
    10%
        opacity 0

.bump-anim
    position relative
    width 128px
    margin 0 auto
    .line
        position absolute
        width 48px
        height 48px
        top 2px
        left -44px
        border-radius 50%
        border 2px solid transparent
        border-left-color primary
        transform rotate(20deg)
        opacity 0
        animation shake-line 2s infinite ease-out
        animation-delay 1s
    .phone
        position relative
        width 128px
        height 256px
        background-color mix(primary, black, 50%)
        border-radius 24px
        animation phone-shake 2s infinite ease-out
        animation-delay 1s
        transform-origin 64px 224px
        .top
            position absolute
            top 6px
            left 0
            right 0
            margin auto
            width 20%
            height 4px
            background-color background
            border-radius 2px
        .body
            position absolute
            left 3px
            right 3px
            top 20px
            bottom 28px
            background-color white
            &:before
                content " "
                position absolute
                left 0
                right 0
                margin auto
                width 65px
                height 62px
                margin-top 12px
                background-image url('profile.png')
                background-repeat no-repeat
                background-size cover
            span
                &:first-child
                    padding-top 96px
                    text-transform uppercase
                    letter-spacing .4em
                    text-indent .35em
                    font-size 24px
                    color primary
                font-size 22px
                height 36px
                display block
                text-align center